.fade-in {
  animation: fadeIn ease 0.7s;
  animation-delay: 0.5s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Pulse
.pulse {
  animation: pulse 1.8s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($WHITE, 0.4);
  }

  70% {
    box-shadow: 0 0 0 5px rgba($WHITE, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($WHITE, 0);
  }
}
