html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: UniversLT !important;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background: #a2a2a2;
  transition: color 0.2s ease;
}
