.msn {
  margin-top: -1rem;
  background: linear-gradient(
    168deg,
    $TERTIARY_COLOUR 50%,
    $QUATERNARY_COLOUR 50%
  );
  background-repeat: no-repeat;

  // Container
  &__container {
    min-height: calc(100vh - 60px);
  }

  // Shared text
  &__title,
  &__sub {
    text-align: center;
    font-family: HeroicCondensedBold;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    transform: rotate(-13deg) skew(-13deg, 0);
    text-shadow: 2px 2px 3px $BLACK, 3px 3px 3px $BLACK, 4px 4px 3px $BLACK,
      5px 5px 3px $BLACK, 8px 8px 3px $BLACK;
  }

  // Title
  &__title {
    line-height: 9.6rem;
    font-size: 9.6rem;
    &--mobile {
      line-height: 5rem !important;
      font-size: 5rem !important;
    }
  }

  // Subtitle
  &__sub {
    line-height: 3rem;
    font-size: 3rem;
    &--mobile {
      line-height: 2rem !important;
      font-size: 2rem !important;
      // line-height: 6rem;
      // font-size: 6rem;
    }
  }

  // Image
  &__img {
    filter: brightness(150%) grayscale(80%)
      drop-shadow(-6px -6px 0px $TERTIARY_COLOUR)
      drop-shadow(-6px -6px 0px $QUATERNARY_COLOUR)
      drop-shadow(-6px -6px 0px rgba($WHITE, 0.1));
    &__container {
      padding: 10px;
    }
  }

  // List
  &__list,
  .ui.list > .item .header {
    color: rgba($WHITE, 0.5);
    font-family: UniversLT !important;
    padding-bottom: 5px;
    &__dash {
      width: 10%;
      height: 2px;
      background-color: $WHITE;
      margin: 4px 0;
      &--long {
        width: 90%;
      }
    }
    &__bar {
      height: 7rem;
      margin-left: 2px;
      border-left: 2px solid $WHITE;
    }
    &__skills.ui.rating .active.icon {
      color: rgba($WHITE, 0.5);
    }
  }

  // Overall
  &__overall {
    color: rgba($WHITE, 0.8);
    background-color: #3a3d42;
    margin: 12px 0;
  }

  // Individually
  &__single {
    color: rgba($WHITE, 0.8);
    background: linear-gradient(-45deg, #42464d 50%, #3f434a 50%);
    &__img {
      filter: brightness(150%) grayscale(80%)
        drop-shadow(-6px -6px 0px $TERTIARY_COLOUR)
        drop-shadow(-6px -6px 0px $QUATERNARY_COLOUR)
        drop-shadow(-6px -6px 0px rgba($WHITE, 0.1));
      padding: 5px;
    }
    // Title
    &__title {
      color: rgba($WHITE, 0.2) !important;
      font-family: PontiacRegular !important;
      font-size: 45px;
      font-weight: 500;
      line-height: 46px;
      & > small {
        color: rgba($BLACK, 0.25) !important;
        font-family: Univers !important;
        position: absolute;
        top: 20%;
        right: 1rem;
        font-size: 150px;
      }
    }
    // Subtitle
    &__subtitle {
      font-family: Univers !important;
      font-weight: 500;
      font-size: 35px;
      line-height: 35px;
    }
    &__desc {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }

  // Career
  &__career {
    margin: 20px 0 !important;
    // Title
    &__title {
      font-family: FuturaBook;
      font-size: 20px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 0 !important;
      color: rgba($WHITE, 0.7);
      &::after {
        left: 50%;
        transform: translateX(50%);
        content: "";
        width: 50%;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba($WHITE, 0.1);
      }
    }
    // Type
    &__type {
      font-family: UniversLT;
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 6px;
    }
    // Stats
    &__stats {
      /* line-height: 35px; */
      /* margin: 5px !important; */
      font-family: FuturaBook;
    }
    // Value
    &__value {
      font-size: 30px;
      font-weight: 600;
      color: rgba($WHITE, 0.7);
    }
  }
}
