.seasons {
  background-color: $BLACK;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  min-height: calc(100vh - 64px);
  // margin-top: -1rem;

  // Bar
  &__bar {
    height: 55%;
    width: 100%;
    background: linear-gradient(
      -45deg,
      rgba($BLACK, 0.99) 50%,
      rgba($BLACK, 0.98) 50%
    );
  }
  // Container
  &__content {
    background: transparent;
    border-bottom: 2px solid rgba($WHITE, 0.1);
  }
  // Header
  &__header {
    margin-top: -1rem;
    > .container > .column > .header {
      color: rgba($WHITE, 0.8);
      font-family: PontiacRegular;
      font-weight: 500;
      font-size: 5rem;
      line-height: 5rem;
      padding: 1rem 0;
    }
  }
  // Details
  &__details {
    width: 100%;
    padding-top: 25px;
    color: rgba($WHITE, 0.5);
    margin: 0;
    background: #343233;
    &__img {
      filter: grayscale(50%);
    }
  }

  // Card
  &__card {
    cursor: pointer;
    box-shadow: 0 1px 3px 0 #222, 0 0 0 1px #222 !important;
    &:hover > &__overlay {
      opacity: 1;
    }
    &__content {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0.2rem !important;
      background-color: rgba($BLACK, 0.8) !important;
      border-top: none !important;
      border-bottom: 2px solid $PRIMARY_COLOUR !important;
    }

    // Image
    &__img {
      filter: grayscale(50%);
    }

    // Overlay
    &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-family: Univers;
      color: rgba($WHITE, 0.8);
      background: linear-gradient(
        -45deg,
        rgba($BLACK, 0.99) 50%,
        rgba($BLACK, 0.98) 50%
      );
      border-bottom: 2px solid rgba($WHITE, 0.8);

      opacity: 0;
      transition: all 0.3s ease-in-out;

      // Overlay number
      &__number {
        font-size: 5.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // Overlay name
      &__name {
        position: absolute;
        top: 30px;
        left: 50%;
        font-size: 2.5rem;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }

      // Overlay year
      &__year {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-bottom: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }
}
