.args-content {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

/* CAREER numbers */
.career {
  margin: 20px 0 !important;
}
.career-title {
  font-family: FuturaBook;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0 !important;
  color: rgba(255, 255, 255, 0.7);
}
.career-title::after {
  left: 50%;
  transform: translateX(50%);
  content: "";
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.career-type {
  font-family: UniversLT;
  font-size: 15px;
  padding-bottom: 6px;
}
.career-stats {
  padding: 5px !important;
  font-family: FuturaBook;
}
.career-value {
  font-size: 40px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Debunked */
.debunked:hover {
  text-decoration: line-through !important;
  border-color: transparent !important;
}
/* FOOTER */
.footer {
  margin-top: 14px;
  background-color: #222;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link {
  color: #ff4c55;
}
.footer-link:hover {
  color: #e94850;
}
.footer-container {
  height: auto;
}
.footer-title {
  padding-top: 3px;
  font-family: FuturaBook !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-msn > .footer-link {
  color: #a50044;
}
.footer-msn > .footer-link:hover {
  color: #c70053;
}

/* NAVIGATION */
.navbar-mobile.ui.segment {
  background-color: #ff4c55;
}
.navbar-msn {
  background-color: #004d98 !important;
}

.squared,
.squared > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #ff4c55 !important;
}
.squared-msn,
.squared-msn > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #004d98 !important;
}
.squared-msn > .ui.secondary.inverted.pointing.menu,
.squared-msn > .ui.inverted.segment,
.squared-msn > .ui.primary.inverted.segment,
.squared-msn.ui.inverted.segment,
.squared-msn > .ui.container > .ui.secondary.inverted.pointing.menu {
  background-color: #004d98 !important;
}
.squared-msn > .navbar-mobile.ui.segment {
  background-color: #004d98 !important;
}
