@font-face {
  font-family: HeroicCondensed;
  src: url(./fonts/HeroicCondensed-Regular.otf);
}
@font-face {
  font-family: HeroicCondensedBold;
  src: url(./fonts/HeroicCondensed-Bold.otf);
}
@font-face {
  font-family: FuturaMed;
  src: url(./fonts/FuturaMedium.ttf);
}
@font-face {
  font-family: FuturaBook;
  src: url(./fonts/FuturaBook.ttf);
}
@font-face {
  font-family: Univers;
  src: url(./fonts/Univers.woff);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: FuturaBook !important;
}

.home {
  margin-bottom: 13px;
  background-color: #454545;
  background-repeat: no-repeat;
  color: #c5c5c5;
}
.home-container {
  min-height: calc(100vh);
}

/* HERO */
/* Hero container */
.hero {
  margin-bottom: 13px;
  background: linear-gradient(168deg, #c73d3d 50%, #b33a3a 50%);
  background-repeat: no-repeat;
}
.hero-container {
  min-height: calc(100vh - 60px);
}
/* Hero text */
.hero-messi,
.hero-ops {
  text-align: center;
  font-family: HeroicCondensedBold;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  transform: rotate(-13deg) skew(-13deg, 0);
  text-shadow: 2px 2px 3px #454545, 3px 3px 3px #454545, 4px 4px 3px #454545,
    5px 5px 3px #454545, 8px 8px 3px #454545;
}
.hero-messi-mobile,
.hero-ops-mobile {
  line-height: 8rem;
  font-size: 8rem;
}
/* Hero image */
/*Hero image container*/
.hero-img {
  padding: 10px;
}
.hero-image {
  filter: grayscale(100%) drop-shadow(-6px -6px 0px #b33a3a)
    drop-shadow(-6px -6px 0px #c73d3d)
    drop-shadow(-6px -6px 0px rgba(255, 255, 255, 0.1));
}
/* Hero list */
.hero-list,
.ui.list > .item .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: Univers !important;
  padding-bottom: 5px;
}
.hero-list-dash {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}
.hero-list-dash-long {
  width: 90%;
}
.hero-list-bar {
  height: 7rem;
  margin-left: 2px;
  border-left: 2px solid #fff;
}
.hero-skills.ui.rating .active.icon {
  color: rgba(255, 255, 255, 0.5);
}

/* NAVIGATION */
.navbar-mobile.ui.segment {
  background-color: #c73d3d;
}
.squared,
.squared > .segment {
  border-radius: 0 !important;
  border: 1px solid #c73d3d !important;
}
