@font-face {
  font-family: HeroicCondensed;
  src: url(./fonts/HeroicCondensed-Regular.otf);
}
@font-face {
  font-family: HeroicCondensedBold;
  src: url(./fonts/HeroicCondensed-Bold.otf);
}
@font-face {
  font-family: FuturaMed;
  src: url(./fonts/FuturaMedium.ttf);
}
@font-face {
  font-family: FuturaBook;
  src: url(./fonts/FuturaBook.ttf);
}
@font-face {
  font-family: Univers;
  src: url(./fonts/Univers.woff);
}
@font-face {
  font-family: UniversLT;
  src: url(./fonts/UniversLT.woff);
}
@font-face {
  font-family: PontiacShadow;
  src: url(./fonts/PontiacInlineShadow.ttf);
}
@font-face {
  font-family: PontiacRegular;
  src: url(./fonts/PontiacInlineRegular.ttf);
}
@font-face {
  font-family: LaLiga;
  src: url(./fonts/laliga1819.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: UniversLT !important;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background: #a2a2a2;
  transition: color 0.2s ease;
}
/* Arguments */
.args-header {
  background: linear-gradient(-45deg, #b33a3a 50%, #333 50%);
}
.args-header > .container > .column > .header {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1rem 0;
  margin-bottom: 14px;
}
.args-content {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
/* BLOG */
.blog-header {
  background: linear-gradient(-45deg, #b33a3a 50%, #333 50%);
}
.blog-header > .container > .column > .header {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1rem 0;
  margin-bottom: 14px;
}
.blog-content {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

/* CAREER numbers */
.career {
  margin: 20px 0 !important;
}
.career-title {
  font-family: FuturaBook;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0 !important;
  color: rgba(255, 255, 255, 0.7);
}
.career-title::after {
  left: 50%;
  transform: translateX(50%);
  content: "";
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.career-type {
  font-family: UniversLT;
  font-size: 15px;
  padding-bottom: 5px;
}
.career-stats {
  padding-top: 5px !important;
  font-family: FuturaBook;
}
.career-value {
  font-size: 40px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Debunked */
.debunked:hover {
  text-decoration: line-through !important;
  border-color: transparent !important;
}
/* FOOTER */
.footer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link {
  color: #c73d3d;
}
.footer-link:hover {
  color: #b33a3a;
}
.footer-container {
  height: auto;
}
.footer-title {
  padding-top: 3px;
  font-family: FuturaBook !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-msn > .footer-link {
  color: #a50044;
}
.footer-msn > .footer-link:hover {
  color: #c70053;
}

/* HERO */
/* Hero container */
.hero {
  margin-bottom: 13px;
  background: linear-gradient(168deg, #c73d3d 50%, #b33a3a 50%);
  background-repeat: no-repeat;
}
.hero-container {
  min-height: calc(100vh - 60px);
}
/* Hero text */
.hero-messi,
.hero-ops {
  text-align: center;
  font-family: HeroicCondensedBold;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  transform: rotate(-13deg) skew(-13deg, 0);
  text-shadow: 2px 2px 3px #454545, 3px 3px 3px #454545, 4px 4px 3px #454545,
    5px 5px 3px #454545, 8px 8px 3px #454545;
}
/* small */
.hero-messi-mobile,
.hero-ops-mobile {
  line-height: 8rem;
  font-size: 8rem;
}
/* Hero image */
/*Hero image container*/
.hero-img {
  padding: 10px;
}
.hero-image {
  filter: grayscale(100%) drop-shadow(-6px -6px 0px #b33a3a)
    drop-shadow(-6px -6px 0px #c73d3d)
    drop-shadow(-6px -6px 0px rgba(255, 255, 255, 0.1));
}
/* Hero list */
.hero-list,
.ui.list > .item .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: UniversLT !important;
  padding-bottom: 5px;
}
.hero-list-dash {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}
.hero-list-dash-long {
  width: 90%;
}
.hero-list-bar {
  height: 7rem;
  margin-left: 2px;
  border-left: 2px solid #fff;
}
.hero-skills.ui.rating .active.icon {
  color: rgba(255, 255, 255, 0.5);
}
/* HOME */
/* Home container */
.home {
  margin-bottom: 13px;
  background-color: #454545;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}
.home-container {
  min-height: calc(50vh);
}
.home-header {
  font-family: PontiacShadow;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 5px;
  z-index: 10;
  padding-right: 10px;
}
.home-header-right {
  text-align: right;
}
/* MSN */
/* HERO */
/* Hero container */
.msn {
  margin-bottom: 13px;
  background: linear-gradient(168deg, #004d98 50%, #a50044 50%);
  background-repeat: no-repeat;
}
.msn-container {
  min-height: calc(100vh - 60px);
}
/* Hero text */
.msn-title,
.msn-sub {
  text-align: center;
  font-family: HeroicCondensedBold;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  transform: rotate(-13deg) skew(-13deg, 0);
  text-shadow: 2px 2px 3px #454545, 3px 3px 3px #454545, 4px 4px 3px #454545,
    5px 5px 3px #454545, 8px 8px 3px #454545;
}
/* small */
.msn-title {
  line-height: 9.6rem;
  font-size: 9.6rem;
}
.msn-sub {
  line-height: 3rem;
  font-size: 3rem;
}
.msn-title-mobile {
  line-height: 5rem !important;
  font-size: 5rem !important;
}
.msn-sub-mobile {
  line-height: 2rem !important;
  font-size: 2rem !important;
}

.msn-title-mobile,
.msn-sub-mobile {
  line-height: 6rem;
  font-size: 6rem;
}
/* Hero image */
/*Hero image container*/
.msn-img {
  padding: 10px;
}
.msn-image {
  filter: brightness(150%) grayscale(80%) drop-shadow(-6px -6px 0px #004d98)
    drop-shadow(-6px -6px 0px #a50044)
    drop-shadow(-6px -6px 0px rgba(255, 255, 255, 0.1));
}
/* Hero list */
.msn-list,
.ui.list > .item .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: UniversLT !important;
  padding-bottom: 5px;
}
.msn-list-dash {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}
.msn-list-dash-long {
  width: 90%;
}
.msn-list-bar {
  height: 7rem;
  margin-left: 2px;
  border-left: 2px solid #fff;
}
.msn-skills.ui.rating .active.icon {
  color: rgba(255, 255, 255, 0.5);
}

/* NAVIGATION */
.navbar-mobile.ui.segment {
  background-color: #c73d3d;
}
.navbar-msn {
  background-color: #004d98 !important;
}
/* POSTS */
.post-img-container {
  overflow: hidden;
  transition: 0.4s ease;
}
.post-img {
  filter: grayscale(50%) contrast(90%);
  border-radius: 0px;
  transition: 0.4s ease;
}
.post-img:hover {
  transform: scale(1.08);
}

.post-title {
  font-family: Univers !important;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.1s ease-in-out;
}
.post-title:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7) !important;
}

.post-blurb {
  color: rgba(255, 255, 255, 0.3) !important;
  padding-bottom: 5px;
}
.post-readmore {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}
.post-readmore:hover {
  text-decoration: underline;
  color: #b33a3a;
}

/* RECORDS */
.records {
}

.records-header {
  background: linear-gradient(-45deg, #b33a3a 50%, #333 50%);
}
.records-header > .container > .column > .header {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1rem 0;
  margin-bottom: 14px;
}
.records-content {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
.record-item {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
  background: linear-gradient(-45deg, #454545 5%, rgba(0, 0, 0, 0) 5%),
    linear-gradient(-45deg, #c73d3d 5.5%, #454545 5.5%);
}

.record-details {
  border-left: rgba(255, 255, 255, 0.1) 2px solid;
}
.record-desc {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 15px !important;
}

.record-item-alt {
  background: linear-gradient(-45deg, #333 95%, rgba(0, 0, 0, 0) 95%),
    linear-gradient(-45deg, #c73d3d 95.5%, #333 95.5%);
}
.record-item-alt > .record-title {
  float: left;
}
.record-list-first {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: rgba(255, 255, 255, 0.2) 2px solid;
}
.record-list-value {
  float: right;
  font-size: 16px;
}
.record-title {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: Univers !important;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}
.record-subtitle {
  color: rgba(255, 255, 255, 0.7) !important;
  font-family: Univers !important;
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
}
.record-img {
  border: 4px solid rgba(255, 255, 255, 0.8);
  filter: grayscale(60%);
}

/* SEASONS */
.seasons {
  position: relative;
  margin-top: -13px;
  color: rgba(255, 255, 255, 0.5);
  min-height: calc(100vh - 64px);
}
.seasons-bar {
  height: 55%;
  width: 100%;
  background: linear-gradient(-45deg, #b33a3a 50%, #333 50%);
}
.seasons-container {
  margin-top: -40px !important;
  background: transparent;
}
.seasons-header > .container > .column > .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1rem 0;
  margin-bottom: 14px;
}
.seasons-details {
  width: 100%;
  padding-top: 25px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  background: #454545;
}
/* Season Card */
.seasons-card {
  cursor: pointer;
}
.seasons-card:hover > .seasons-card-overlay {
  opacity: 1;
}
.seasons-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fcfcfc;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-family: PontiacShadow;
  color: #333;
}
.seasons-card-overlay > .number {
  font-size: 7vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seasons-card-overlay > .name {
  position: absolute;
  top: 30px;
  left: 50%;
  font-size: 2.5vw;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.seasons-card-overlay > .year {
  position: absolute;
  bottom: 0px;
  left: 50%;
  font-size: 14px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.seasons-img {
  /* border: 3px rgba(255, 255, 255, 0.7) solid; */
}
.squared,
.squared > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #c73d3d !important;
}
.squared-msn,
.squared-msn > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #004d98 !important;
}
.squared-msn > .ui.secondary.inverted.pointing.menu,
.squared-msn > .ui.inverted.segment,
.squared-msn > .ui.primary.inverted.segment,
.squared-msn.ui.inverted.segment,
.squared-msn > .ui.container > .ui.secondary.inverted.pointing.menu {
  background-color: #004d98 !important;
}
.squared-msn > .navbar-mobile.ui.segment {
  background-color: #004d98 !important;
}
