.args-content {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

/* CAREER numbers */
.career {
  margin: 20px 0 !important;
}
.career-title {
  font-family: FuturaBook;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0 !important;
  color: rgba(255, 255, 255, 0.7);
}
.career-title::after {
  left: 50%;
  transform: translateX(50%);
  content: "";
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.career-type {
  font-family: UniversLT;
  font-size: 15px;
  padding-bottom: 6px;
}
.career-stats {
  padding: 5px !important;
  font-family: FuturaBook;
}
.career-value {
  font-size: 40px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Debunked */
.debunked:hover {
  text-decoration: line-through !important;
  border-color: transparent !important;
}
/* FOOTER */
.footer {
  margin-top: 14px;
  background-color: #222;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link {
  color: #ff4c55;
}
.footer-link:hover {
  color: #e94850;
}
.footer-container {
  height: auto;
}
.footer-title {
  padding-top: 3px;
  font-family: FuturaBook !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-msn > .footer-link {
  color: #a50044;
}
.footer-msn > .footer-link:hover {
  color: #c70053;
}

/* NAVIGATION */
.navbar-mobile.ui.segment {
  background-color: #ff4c55;
}
.navbar-msn {
  background-color: #004d98 !important;
}
/* POSTS */
.post-img-container {
  overflow: hidden;
  transition: 0.4s ease;
}
.post-img {
  filter: grayscale(50%) contrast(90%);
  border-radius: 0px;
  transition: 0.4s ease;
}
.post-img:hover {
  transform: scale(1.08);
}

.post-title {
  font-family: Univers !important;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.1s ease-in-out;
}
.post-title:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7) !important;
}

.post-blurb {
  color: rgba(255, 255, 255, 0.3) !important;
  padding-bottom: 5px;
}
.post-readmore {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}
.post-readmore:hover {
  text-decoration: underline;
  color: #e94850;
}

/* SEASONS
.seasons {
  position: relative;
  margin-top: -13px;
  color: rgba(255, 255, 255, 0.5);
  min-height: calc(100vh - 64px);
}
.seasons-bar {
  height: 55%;
  width: 100%;
  background-color: #333333;
}
.seasons-container {
  margin-top: -40px !important;
  background: transparent;
}
.seasons-header > .container > .column > .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1rem 0;
  margin-bottom: 14px;
}
.seasons-details {
  width: 100%;
  padding-top: 25px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  background: #343233;
}
/* Season Card */
/* .seasons-card {
  cursor: pointer;
  filter: grayscale(50%) contrast(90%);
}
.seasons-card:hover > .seasons-card-overlay {
  opacity: 1;
}
.seasons-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fcfcfc;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-family: Univers;
  color: #333;
}
.seasons-card-overlay > .number {
  font-size: 7vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seasons-card-overlay > .name {
  position: absolute;
  top: 30px;
  left: 50%;
  font-size: 2.5vw;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.seasons-card-overlay > .year {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 2vw;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.seasons-img {
  filter: grayscale(50%);
} */

.squared,
.squared > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #ff4c55 !important;
}
.squared-msn,
.squared-msn > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #004d98 !important;
}
.squared-msn > .ui.secondary.inverted.pointing.menu,
.squared-msn > .ui.inverted.segment,
.squared-msn > .ui.primary.inverted.segment,
.squared-msn.ui.inverted.segment,
.squared-msn > .ui.container > .ui.secondary.inverted.pointing.menu {
  background-color: #004d98 !important;
}
.squared-msn > .navbar-mobile.ui.segment {
  background-color: #004d98 !important;
}
