@font-face {
  font-family: HeroicCondensed;
  src: url(./fonts/HeroicCondensed-Regular.otf);
}
@font-face {
  font-family: HeroicCondensedBold;
  src: url(./fonts/HeroicCondensed-Bold.otf);
}
@font-face {
  font-family: FuturaMed;
  src: url(./fonts/FuturaMedium.ttf);
}
@font-face {
  font-family: FuturaBook;
  src: url(./fonts/FuturaBook.ttf);
}
@font-face {
  font-family: Univers;
  src: url(./fonts/Univers.woff);
}
@font-face {
  font-family: UniversLT;
  src: url(./fonts/UniversLT.woff);
}
@font-face {
  font-family: PontiacShadow;
  src: url(./fonts/PontiacInlineShadow.ttf);
}
@font-face {
  font-family: PontiacRegular;
  src: url(./fonts/PontiacInlineRegular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: UniversLT !important;
}

/* FOOTER */
.footer {
  background: #a2a2a2;
  color: #c73d3d;
}
.footer-container {
  height: 20vh;
}
/* HERO */
/* Hero container */
.hero {
  margin-bottom: 13px;
  background: linear-gradient(168deg, #c73d3d 50%, #b33a3a 50%);
  background-repeat: no-repeat;
}
.hero-container {
  min-height: calc(100vh - 60px);
}
/* Hero text */
.hero-messi,
.hero-ops {
  text-align: center;
  font-family: HeroicCondensedBold;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  transform: rotate(-13deg) skew(-13deg, 0);
  text-shadow: 2px 2px 3px #454545, 3px 3px 3px #454545, 4px 4px 3px #454545,
    5px 5px 3px #454545, 8px 8px 3px #454545;
}
.hero-messi-mobile,
.hero-ops-mobile {
  line-height: 8rem;
  font-size: 8rem;
}
/* Hero image */
/*Hero image container*/
.hero-img {
  padding: 10px;
}
.hero-image {
  filter: grayscale(100%) drop-shadow(-6px -6px 0px #b33a3a)
    drop-shadow(-6px -6px 0px #c73d3d)
    drop-shadow(-6px -6px 0px rgba(255, 255, 255, 0.1));
}
/* Hero list */
.hero-list,
.ui.list > .item .header {
  color: rgba(255, 255, 255, 0.5);
  font-family: UniversLT !important;
  padding-bottom: 5px;
}
.hero-list-dash {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}
.hero-list-dash-long {
  width: 90%;
}
.hero-list-bar {
  height: 7rem;
  margin-left: 2px;
  border-left: 2px solid #fff;
}
.hero-skills.ui.rating .active.icon {
  color: rgba(255, 255, 255, 0.5);
}
/* HOME */
/* Home container */
.home {
  margin-bottom: 13px;
  background-color: #454545;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}
.home-container {
  min-height: calc(50vh);
}
.home-header {
  font-family: PontiacShadow;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 5px;
  z-index: 10;
  padding-right: 10px;
}
.home-header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
/* NAVIGATION */
.navbar-mobile.ui.segment {
  background-color: #c73d3d;
}
/* POSTS */
.post-img {
  filter: grayscale(50%) contrast(90%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}
.post-title {
  font-family: Univers !important;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.1s ease-in-out;
}
.post-title:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7) !important;
}
.post-blurb {
  color: rgba(255, 255, 255, 0.3) !important;
  padding-bottom: 5px;
}
.post-readmore {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}
.post-readmore:hover {
  text-decoration: underline;
  color: #b33a3a;
}

/* SEASONS */
.seasons {
  margin-top: -13px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f7f7f7;
}
.seasons-container {
  height: auto;
}
.seasons-header {
  padding: 1rem 0 !important;
  margin-bottom: 1rem;
  background: linear-gradient(180deg, #ddd 50%, #eee 50%);
}
.seasons-header > .container > .column > .header {
  font-family: PontiacRegular;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
}
.squared,
.squared > .segment {
  z-index: 10;
  border-radius: 0 !important;
  border: 1px solid #c73d3d !important;
}
