.ui.secondary.inverted.pointing.menu,
.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: #c73d3d;
}
.ui.secondary.inverted.pointing.menu {
  border-width: 2px;
  border-color: transparent;
}

.ui.secondary.pointing.menu a.item {
  transition: all 0.25s ease-in-out;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #fff;
  transition: all 0.25s ease-in-out;
}
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.ui.menu .item {
  color: rgb(255, 255, 255) !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: FuturaMed;
}

.ui.grid > .divided.row > .column {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.1);
}

/* list */
.ui.divided.list > .item {
  border-top: 2px solid #b33a3a;
}

/* card */
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: UniversLT;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.ui.card {
  border-radius: 1px !important;
}

/* slick-carousel */
.slick-initialized .slick-slide {
  padding: 10px;
}
