.ui.secondary.inverted.pointing.menu,
.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: #c73d3d;
}
.ui.secondary.inverted.pointing.menu {
  border-width: 2px;
  border-color: transparent;
}

.ui.secondary.pointing.menu a.item {
  transition: all 0.25s ease-in-out;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #fff;
  transition: all 0.25s ease-in-out;
}
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.ui.menu .item {
  color: rgb(255, 255, 255) !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: FuturaMed;
}

.ui.grid > .divided.row > .column {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0);
}

/* list */
.ui.divided.list > .item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* card */
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: FuturaBook;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.ui.card > .content,
.ui.cards > .card > .content {
  font-size: 12px !important;
}
.ui.card {
  border-radius: 0px !important;
}
.ui.card > :last-child,
.ui.cards > .card > :last-child {
  border-radius: 0 !important;
}

/* slick-carousel */
.slick-initialized .slick-slide {
  padding: 10px;
}
.slick-prev:before,
.slick-next::before {
  color: #c73d3d;
  opacity: 1;
}
.slick-prev {
  position: absolute;
  top: 45%;
  left: -0.5%;
  transform: translateX(-50%);
}
.slick-next {
  position: absolute;
  top: 45%;
  left: 100.5%;
  transform: translateX(-50%);
}
